extends layout

block content
  .welcome
    img.logo(src="images/schwill.svg", alt="Schwill")
    h1 A simple Gulp boilerplate for static sites
    a.btn(href="https://github.com/schwill/boilerplate") Download
